*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.teacher-contents {
  height: 400px;
  overflow-y: scroll;
}

.teacher-users {
}

.teacher-list {
  width: 74vw;
  height: 46vh;
}

.profile-content {
}

.teacher-info {
  margin-left: 30px;
  height: 34vh;
}

.teacher-name, .teacher-subject1 {
  width: 50vw;
  color: #000;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.teacher-pr {
  width: 50vw;
  height: 33.5vh;
  color: #000;
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
}

.profile-content {
  display: flex;
}

.profile-img {
  width: 70%;
  height: 70%;
  margin-left: 30px;
}

.teacher-btn {
  width: 11.8vw;
  margin: 10px 0 0 30px;
  display: block;
  background: #bf1319;
  border-radius: 10px;
  color: #fff;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.content{
  margin: 0 auto;
  padding: 40px;
}

.modal{
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
}

.modal_bg{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  position: absolute;
}

.modal_content{
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  background: #fff;
  padding: 40px;
  position: absolute;
  transform: translate(-50%,-50%);
}

.js-modal-close {
  display: flex;
  justify-content: flex-end;
}

.search-form {
  height: 8vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 900px;
  height: 8vh;
  margin: 20px 0 0 35px;
  padding-left: 10px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #ccc;
}

.search-button {
  width: 59px;
  height: 59px;
  border: 0;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  background-color: #ea352d;
  margin-top: 20px;
  padding: 10px;
}

.search-icon {
  width: 100%;
}

.comments_lists {
  height: 350px;
  font-size: 16px;
  color: #000;
  margin-top: 10px;
  overflow-y: scroll;
}

.comment-form {
  display: flex;
  justify-content: center;
}

.form-input {
  width: 800px;
  margin: 0 auto;
}

.input-comment {
  width: 800px;
  height: 48px;
  margin-top: 30px;
  padding: 10px 16px 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.actions-sp {
  width: 150px;
  margin: 0 auto;
}

.comment-red-btn {
  width: 150px;
  color: #fff;
  margin-top: 30px;
  background: #ea352d;
  border-radius: 10px;
  border: 1px solid #ea352d;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
}

.question-form {
  height: 100vh;
  position: relative;
}

.form-header-text-sp {
  width: 50%;
  font-weight: bold;
  border-bottom: 1px solid #f5f5f5;
}

.comment-form-sp {
  width: 50%;
}

.form-input-sp {
}

.input-comment {
  width: 80%;
  height: 120px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
}

.form-image {
  font-size: 14px;
  background: #ea8681;
  border-radius: 10px;
  border: 1px solid #ea8681;
  color: white;
  padding: 15px 270px;
  text-align: center;
}

.hidden {
  display: none;
}

.actions-sp2 {
  width: 150px;
}

.comment-red-btn-sp {
  width: 575px;
  color: #fff;
  background: #ea352d;
  border-radius: 10px;
  border: 1px solid #ea352d;
  line-height: 40px;
  font-size: 14px;
  margin-left: 70px;
  cursor: pointer;
}

.input-comment-sp2 {
  width: 600px;
  height: 715px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
  padding: 10px 10px;
}

.form-header-right {
  position: absolute;
  top: 10px;
  left: 750px;
}
